.git
.github
.idea
.vscode
.fleet
.cursor

node_modules
vendor
public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php

.env
.env.*
!.env.example

.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

tests
phpunit.xml
README.md
